@model Course

@await Html.PartialAsync("_Header")
<div class="card" id="kurs_@Model.Id" style="width: 18rem;">
    <img src="~/img/@Model.Image" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
        <a href="#" class="btn btn-success">Kurslar Git</a>
    </div>

</div>
